#BackButton{
    background-color:white;
    border: none;
    color: #FF6347;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    font-weight: bolder;
}
#TextButtons{

    background-color: #FF6347;
    color: white;
    padding: 14px 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 12px;
    width:60%;
    cursor: pointer;


}
#TextButtons:hover{
    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#BackButton{
    background-color: white;
    color: gray;
    border: 0;
    font-size: 50px;
    cursor: pointer;
}

#menubutton{
    background-color: tomato;
    border: none;
    cursor: pointer;
}
#homebutton{
    background-color: #FF6347;
    border: none;
    cursor: pointer;
    padding-left: 370px;
}

.form-control{
display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#titi{
    background-color: tomato
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
footer {
    padding: 15px;
    background-color: tomato;
    color: white;
    bottom: 0px;
    position: fixed;
    width: 100%;

    
    
}