
#TextButtons{

    background-color: #FF6347;
    color: white;
    padding: 14px 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 12px;
    width:60%;
    cursor: pointer;


}
#TextButtons:hover{
    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#BackButton{
    background-color: white;
    color: gray;
    border: 0;
    font-size: 50px;
    cursor: pointer;

    background-color:white;
    border: none;
    color: #FF6347;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    font-weight: bolder;
}

#menubutton{
    background-color: tomato;
    border: none;
    cursor: pointer;
    
}
#homebutton{
    background-color: #FF6347;
    border: none;
    cursor: pointer;
    padding-left: 370px;
}
footer{
    bottom: 0px;
    position: fixed;
    width: 100%;
    padding: 15px;
    background-color: tomato;
    color: white;
}